body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #6a89cc;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.base {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 380px;
    padding: 15px;
    background-color: white;
}

.titulo {
    font-size: 25px;
    margin-bottom: 5px;
}

.subtitulo {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

.grupo-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 5px;
    margin: 15px 0px 15px 0px;
}

input {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding: 5px;
    border: 1.7px solid black;
}

.submit-button {
    width: 400px;
    height: 40px;
    margin-top: 10px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(94, 0, 182);
    color: white;
    border: 2.7px solid rgb(54, 0, 105);
}

.submit-button:hover {
    cursor: pointer;
}